[Unit]
Description=D-Bus System Message Bus Socket

[Socket]
ListenStream=/home/icrad/project/bluetoothZ/3rd/dbus-1.12.20/build/var/run/dbus/system_bus_socket
