[D-BUS Service]
Name=com.example.ReceiveDeniedByAppArmorLabel
Exec=/bin/false ReceiveDeniedByAppArmorLabel
SystemdService=dbus-com.example.ReceiveDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/home/icrad/project/bluetoothZ/3rd/dbus-1.12.20/test/test-apparmor-activation//com.example.ReceiveDeniedByAppArmorLabel
