[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/home/icrad/project/bluetoothZ/3rd/glib-2.40.0/gio/tests/gdbus-example-objectmanager-server
