[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/icrad/project/bluetoothZ/3rd/dbus-1.12.20/test/test-shell-service "this should 'fail' because of an unterminated quote
User=anyrandomuser

